#experience {
    margin-top: 6rem;
}

.section__text__p1,
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.experience-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.experience-card {
    box-shadow: 0 4px 5px 3px bisque;
    color: white;
    background-color: transparent;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
    width: 100%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    margin: 0.5rem;
    text-align: center;
}

.experience-card:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}

.linkText {
    color: bisque;
    margin: 1rem;
}

.learMoreBtn {
    margin: 1rem;
    width: 8rem;
    background-color: #ffffff00;
    color: #fff;
    height: 2.9em;
    border: bisque 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
    padding-right: 7px;
}

.learMoreBtn:hover {
    background-color:rgba(129, 72, 144, 0.561);
    border:rgba(129, 72, 144, 0.561) 0.2em solid;
    cursor: pointer;
}

.learMoreBtn:active {
color: white;
}

.learMoreBtn svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}

.learMoreBtn:hover svg {
    transform: translateX(5px);
}

.expProjectName{
    color: bisque;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem 0rem;
    font-family: fangsong;
}

@media screen and (max-width: 768px) {
    .experience-card {
        max-width: 100%;
    }
}
