#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    text-align: center;
    margin-top: 8rem;
}

.contact-container {
    max-width: 600px;
    /* Adjust as needed */
    margin: 0 auto;
}

.contact-info-upper-container {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    border: 0.1rem solid rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 2rem 5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-icon {
    cursor: pointer;
}

.email-icon {
    height: 2.5rem;
}

.linkedin-icon {
    margin: 0;
    height: 2.5rem;
}

.contact-text {
    font-size: 1rem;
}

.footerWaves {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 10rem;
    transform: scaleY(-1);
}

.backToTopBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .backToTopBtn:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .backToTopBtn:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .backToTopBtn::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .backToTopBtn:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  


@media screen and (max-width: 768px) {
    .contact-info-upper-container {
        padding: 1rem;
    }

}